<!-- Pricing Section -->
<section id="pricing" class="content-section text-center">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Pricing</h2>
      <p><strong>FREE</strong> 30 minute consultation.</p>
      <p>
        $120/hr <strong>individual session</strong> &middot; $75/hr <strong>group session*</strong>
      </p>
      <p><small>*Group sessions are 2-3 kids per session.</small></p>
      <a href="#contact" class="page-scroll btn btn-default btn-lg">Get In Touch</a>
    </div>
  </div>
</section>
