<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US" itemscope itemtype="http://schema.org/WebPage">

{% include head.html %}

<body class="layout {{ page.body_class }}">
  <div class="page">
    <header id="masthead" class="masthead" role="banner">
      <div class="container-fluid">
        <div class="row middle-xs between-xs">
          <div class="col-xs-9 title-area">
            <h1 class="masthead-title">
              <a href="/" title="Home">{{ site.title }}</a>
            </h1>
          </div>
          <div class="col-xs-3 nav-area">
            Menu
          </div>
        </div>
      </div>
    </header>

    <article id="main" role="main">
      {{ content }}
    </article>

    <footer id="footer" class="footer" role="contentinfo">
      <div class="row">
      </div>
    </footer>
  </div>
</body>
</html>
