<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US" itemscope itemtype="http://schema.org/WebPage">

{% include head.html %}

<body class="{{ page.body_class }}">

  <header id="masthead" class="masthead" role="banner">
    <div class="container">
      <h1 class="masthead-title">
        <a href="/" title="Home">{{ site.title }}</a>
      </h1>
    </div>
  </header>

  <article id="main" role="main">
    {{ content }}
  </article>

  <footer id="footer" class="footer" role="contentinfo">
    <div class="container">
    </div>
  </footer>

</body>
</html>
