#main {
  padding-bottom: 100px;
}

@media(min-width:767px) {
  .navbar.navbar-fixed-top .navbar-brand {
    opacity: 0;
  }

  .navbar.navbar-fixed-top.top-nav-collapse .navbar-brand {
    opacity: 1;
  }
}

.intro {
  text-align: left;
}

.intro .intro-body .brand-logo {
  display: block;
  margin-bottom: 15px;
}
