$body-font-family: "Open Sans", "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
$header-font-family: "Montserrat", "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

@import "bourbon";
@import "mixins";

@import "normalize-scss/normalize";
@import "flexboxgrid";

@import "home";

body {
  font-size: 16px;
  font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page {
  min-height: 100vh;
  z-index: 0;
  background-color: #f7f7f7;
}

.container-fluid {
  max-width: 1000px;
}

.page-section {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.hero {
  min-height: 65vh;
  padding: calc(2rem + 50px) 2rem 2rem;
  background-color: white;

  .hero-tagline {
    margin-bottom: 1rem;
  }

  .hero-title {
    text-transform: uppercase;
    font-size: 1rem;

    @include break($sm) {
      font-size: 2rem;
    }
  }
}

#masthead {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 0.8rem;

  @include break($sm) {
    font-size: 1rem;
  }

  .row {
    min-height: 50px;
  }

  .masthead-title {
    font-family: $body-font-family;
    font-weight: 300;
    font-size: inherit;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .nav-area {
    text-align: right;
  }
}
